<ul class="alert alert-danger" *ngIf="getErrores.length > 0">
  <li *ngFor="let err of getErrores">
    {{ err }}
  </li>
</ul>

<div class="card text-bg-dark mb-3">
  <div class="card-header">{{ titulo }}</div>
  <div class="card-body">
    <form #clienteForm="ngForm">
      <div class="row mx-auto">
        <div class="mb-3 col-6">
          <label for="nombre" class="form-label">Nombre</label>
          <input
            class="form-control form-control-sm"
            type="text"
            [(ngModel)]="cliente.nombre"
            name="nombre"
            value=""
            #nombre="ngModel"
          />
          <!--required minlength="4"-->
          <div
            class="alert alert-danger"
            *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
          >
            <div *ngIf="nombre.errors?.['required']">Nombre es requerido</div>
            <div *ngIf="nombre.errors?.['minlength']">
              Nombre debe tener al menos 4 caracteres
            </div>
          </div>
        </div>
        <div class="mb-3 col-6">
          <label for="apellido" class="form-label">Apellido</label>
          <input
            class="form-control form-control-sm"
            type="text"
            [(ngModel)]="cliente.apellido"
            name="apellido"
            value=""
            #apellido="ngModel"
          />
          <div
            class="alert alert-danger"
            *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)"
          >
            <div *ngIf="apellido.errors?.['required']">
              Apellido es requerido
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3 text-center mx-5">
        <label for="email" class="form-label">Email</label>
        <input
          class="form-control form-control-sm"
          type="email"
          [(ngModel)]="cliente.email"
          name="email"
          value=""
          #email="ngModel"
        />
        <div
          class="alert alert-danger"
          *ngIf="email.invalid && (email.dirty || email.touched)"
        >
          <div *ngIf="email.errors?.['required']">Email es requerido</div>
          <div *ngIf="email.errors?.['email']">Formato de Correo invalido.</div>
        </div>
      </div>

      <div class="mb-3">
        <button
          class="btn btn-outline-primary"
          role="button"
          (click)="create()"
          *ngIf="!cliente.id; else elseBlock"
          [disabled]="!clienteForm.form.valid"
        >
          Crear
        </button>

        <ng-template #elseBlock>
          <button
            class="btn btn-outline-primary"
            role="button"
            (click)="update()"
            [disabled]="!clienteForm.form.valid"
          >
            Actualizar
          </button>
        </ng-template>
      </div>
    </form>
  </div>
</div>
